#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
datadir=/data/mariadata/mysql
socket=/data/mariadata/mysql/mysql.sock
character-set-server = utf8
lower_case_table_names=1
max_connections = 3000



#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=/usr/lib64/galera/libgalera_smm.so
##wsrep_cluster_address='gcomm://'
#wsrep_cluster_address='gcomm://192.168.60.87,192.168.60.88'
#wsrep_cluster_name='mariadb_pxx_cluster'
#wsrep_node_address='192.168.60.86'
#wsrep_node_name='NAME_node1'
#wsrep_sst_method=rsync
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#bind-address=0.0.0.0



# Allow server to accept connections on all interfaces.
#
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]

